@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  background-color: black;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.bg-grid-small-white {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}

.bg-gradient-radial {
  background-image: radial-gradient(circle at center, var(--tw-gradient-from) 0, var(--tw-gradient-via) 50%, var(--tw-gradient-to) 100%);
}


@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.react-activity-calendar,
.react-activity-calendar svg {
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
}
